@import "tailwindcss";
@theme {
  --color-smalakar: #b5b2b5; 
  --color-devsm: #7b797c;
  --font-sm: 'poppins';
  --radius-sm: 9px;
}
@layer components{
  .btn-cmn{
    @apply font-sm px-4 py-2 text-white rounded-[9px] cursor-pointer font-[600] flex justify-center items-center flex-row gap-1;
  }
}
@theme {
  --animate-wiggle: shadowGlow 4s ease-in-out infinite;
  @keyframes shadowGlow {
    0%,
    100% {
      /* background: #4E71FF; */
      background: linear-gradient(90deg, rgba(78, 113, 255, 1) 0%, rgba(197, 98, 175, 1) 100%);
      box-shadow: 0 0 20px #4E71FF;
    }
    50% {
      /* background: #4E71FF; */
      background: linear-gradient(258deg, rgba(78, 113, 255, 1) 0%, rgba(197, 98, 175, 1) 100%);
      box-shadow: 0 0 20px #C562AF;
    }
  }
}

/*TYPING ANIMATION*/
.wrapper{
  display: inline-flex;
  font-family: "poppins";
}
.wrapper .staticTxt{
  color: #fff;
  font-weight: 500;
  font-size: 30px;
  position: relative;
  top: 22px;
}
.wrapper .dynamicTxt {
  margin-left: 6px;
  /* margin-bottom: 8px; */
  height: 90px;
  line-height: 90px;
  overflow: hidden;
}
.dynamicTxt li{
  font-size: 30px;
  list-style: none;
  position: relative;
  top: 0;
  font-weight: 500;
  animation: slide 10s steps(4) infinite;
}
@keyframes slide {
  100%{
    top: -360px;
  }
  
}
.dynamicTxt li span{
  position: relative;
}
.dynamicTxt li span::after{
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  margin-left: 17px;
  left: 0;
  top: 0px;
  background: #b5b2b5;
  backdrop-filter: blur(10px);
  border-left: 2px solid #3b71fa;
  animation: typing 2.5s steps(12) infinite;
}
@keyframes typing {
  100%{
    left: 100%;
  }
  
}
/*TYPING ANIMATION*/

@media (max-width: 500px) {
  .liveTxt{
  margin: -20px 0;
}
.wrapper .staticTxt{
  font-size: 20px;
  line-height: 44px;
} 
.dynamicTxt li{
  font-size: 20px;
}
  
}
